# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# React build
frontend/node_modules/
frontend/build/
frontend/.env

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log
venv/
.env

./uploads
*./uploads
database.sqlite

# VSCode e IDEs
.vscode/
.idea/

# Docker
*.pid
*.db
*.sqlite3
docker-compose.override.yml

# Mac OS
.DS_Store

# Logs
*.log

# Others
frontend/.cache/
backend/.src/.uploads/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

