/* Sidebar geral */
.sidebar-navbar {
  background: var(--deep-wall-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s ease;
}

.sidebar-navbar.collapsed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cabeçalho da sidebar */
.sidebar-header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  border-bottom: 2px solid var(--border-color);
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background-color: var(--second-color-blue);
  padding: 6px;
}

.app-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--primary-color-grey);
}

.toggle-btn {
  cursor: pointer;
  transition: transform 0.3s ease;
  color: var(--primary-color-grey);
}

.toggle-btn.rotated {
  transform: rotate(180deg);
}

/* Data */
.sidebar-navbar-date {
  padding: 6px 10px;
  font-size: 16px;
  color: var(--primary-color-grey);
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  margin-inline: auto;
  border-bottom: 2px solid var(--border-color);
}

/* Botão reduzir/expandir */
.sidebar-navbar-toggle-btn {
  padding: 6px 10px;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid var(--border-color);
}

/* Ferramentas */
.sidebar-navbar-tools {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}

.tool-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: background 0.2s ease, color 0.2s ease, border-left 0.2s ease;
  cursor: pointer;
}

.tool-item:hover {
  color: var(--second-color-blue);
  border-left: 7.5px solid var(--second-color-blue);
}

.tool-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-label {
  font-size: 14px;
  font-weight: 500;
}
