.copy:hover {
  cursor: pointer;
  text-decoration: underline;
}


/* open docs */
.open-docs-container {
  background-color: var(--white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* já tinha */
}

.open-docs-bar,
.moreOptions-bar {
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 2px solid var(--border-color);
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.open-docs-slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.open-docs-content {
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  width: 60%;
}

.open-docs-content-main {
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
}

.open-docs-data {
  padding: 10px;
  box-sizing: border-box;
  width: 40%;
  height: 100%;
  border-left: 2px solid var(--border-color);
}

.open-docs-data-content {
  padding: 10px;
  box-sizing: border-box;
  max-height: 100%;
  overflow-y: auto;
}

.div-tags {
  overflow-y: scroll;
  height: 300px;
}
.div-json {
  overflow-y: scroll;
  max-width: 400px;
  height: 300px;
}

.open-docs-data-feedback {
  padding: 10px;
  box-sizing: border-box;
  max-height: 50%;
  overflow-y: auto;
}

.open-docs-tags {
  margin: 10px;
  color: var(--primary-color-grey2);
}

.doc-title {
  margin: 10px;
}

.results {
  background-color: var(--deep-wall-color2);
  padding: 5px;
  min-width: 50px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

/* parte dos graficos */
/* Container do gráfico */
.graphics-container {
  margin-top: 20px;
}

/* Caixa da porcentagem */
.div-porcentagem {
  background-color: var(--light-grey);
  padding: 10px;
  border-radius: 5px;
}

/* Fundo da barra */
.barra-porcentagem-bg {
  width: 100%;
  height: 6px;
  background-color: var(--border-color); /* cor neutra de fundo */
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 5px;
}

/* Barra de preenchimento */
.barra-porcentagem {
  height: 6px;
  background-color: var(--second-color-blue);
  transition: width 0.5s ease;
  border-radius: 3px;
}

/* Texto da porcentagem */
.percent-text {
  margin-top: 5px;
  text-align: right;
  font-weight: bold;
  color: var(--second-color-blue);
}
