 /* CLASSES UTILITÁRIAS */
 
.italic {
  font-style: italic;
  color: var(--color-text-secondary);
}

.controle {
  color: var(--color-accent);
  margin: 0 5px;
}

.delete {
  color: var(--color-danger);
  margin: 0 10px;
}

/* Flexbox Utilities */
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}