/* 6. ANIMAÇÕES (KEYFRAMES) */

@keyframes slide-in {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-down {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

