attrs
certifi
cffi
charset-normalizer
colorama
fire
fonttools
h11
idna
iniconfig
lxml
numpy
opencv-python-headless
outcome
packaging
pdf2docx
pluggy
pycparser
Pygments
PyMuPDF
pypdf
PySocks
pytest
python-docx
python-dotenv
requests
selenium
sniffio
sortedcontainers
termcolor
trio
trio-websocket
typing_extensions
urllib3
uv
webdriver-manager
websocket-client
wsproto