<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Home</title>
</head>

<body>
  <div class="container">
    <div class="section-top">
      <h1>SalvaDocs</h1>
      <h2>Analisador de Programas de Integridade!</h2>

      <div class="section-down" style="justify-content: center; gap: 20px; margin-top: 20px;">
        <a href="/programas-de-integridade" class="links">
          Acesse Programas de Integridade
        </a>
        <a href="/parecer" class="links">
          Acesse Parecer
        </a>
      </div>
    </div>
  </div>
</body>


</html>